:root {
  --black: #121212;
  --dark-blue: #19202d;
  --grey-100: #e7eaee;
  --grey-200: #cfcfcf;
  --grey-400: #676d7e;
  --grey-500: #48556a;
  --purple-50: #ede4ff;
  --purple-300: #a775f1;
  --purple-500: #733fc8;
  --font-regular: 500;
  --font-bold: 600;
  --text-sm: 0.688rem;
  --text-md: 0.813rem;
  --text-lg: 1.25rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  color: #fff;
  background: #f6f5f6;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
  gap: 2rem;
  margin: 4.5rem 2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.testimonial--one {
  grid-area: one;
  background: var(--purple-500);
}

.testimonial__author-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial__author-image {
  border: 2px solid var(--purple-300);
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
}

.testimonial__author-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial__author-profession {
  color: var(--purple-50);
  font-size: 0.688rem;
}

.testimonial__heading {
  font-size: var(--text-lg);
  line-height: 1.2;
  font-weight: var(--font-bold);
}

.testimonial__paragraph {
  color: var(--purple-50);
  line-height: 1.4;
}
